<h1>{{name}} App</h1>
<p i18n="@@introductionHelloWorld">Hello Srini!</p>
<p i18n="@@introductionEoin">Goodbye Eoin!</p>
<p i18n="@@introductionJustin">Hello Justin!</p>
<!-- <p i18n="@@introductionParagraph">This is another paragraph!</p> -->
<!-- <p i18n="@@GID-MNGDTXT-643941">Another paragraph, wow, new sentence, another new one</p> -->
<!-- <p i18n="@@GID-MNGDTXT-643943">This is another line, how about now</p>
<span i18n="@@pluralSpan">Updated {count, plural, =0 {just now} =1 {one minute ago} other {{{count}} minutes ago}}</span> -->
<br />
<br />
<br />
<button (click)="onClickSetCookie('en')">Click to set locale to en</button>
<br />
<button (click)="onClickSetCookie('ja')">Click to set locale to ja</button>
<br />
<button (click)="onClickSetCookie('fr')">Click to set locale to fr</button>
<br />
<button (click)="onClickSetCookie('fr-CA')">Click to set locale to fr-CA</button>
<br />
<button (click)="onClickClearCookie()">Click to clear cookies</button>
<br />
<button (click)="onClickSetAlert()">Alert</button>
